# App Config
APP_NAME="NestJS TypeORM API Starter"
PORT=8090
TZ=UTC

# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=nestjs_typeorm_starter_db
NODE_ENV=development

# Auth Config
AUTH_PASSWORD_SALT_ROUNDS=10

# JWT Configuration
JWT_SECRET=74db5010c1cd2989e21f49160e22e014b51625097bb721535c529de2cb97f58d
JWT_EXPIRATION=172800000
JWT_REFRESH_SECRET=59292b190434a15524d53f2e03df1a5f961d5852ee9ed42b9a4c5f8601b80a81
JWT_REFRESH_EXPIRATION=2592000000

AWS_ACCESS_KEY_ID=rustfsadmin
AWS_SECRET_ACCESS_KEY=rustfsadmin123
AWS_ENDPOINT=http://localhost:9000
AWS_REGION=ap-southeast-1
AWS_BUCKET_NAME=nestjs-typeorm-api-starter-bucket

# Email Configuration
SMTP_FROM_NAME="NestJS TypeORM API Starter"

# CORS
CORS_ORIGINS=http://localhost:3000,http://localhost:5173

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379


# OTP * SMS Settings
SMS_MOCK_ENABLED=false
MOCK_OTP_CODE=123456
MOCK_REQUEST_ID=123456
VERIFICATION_CODE_EXPIRATION_MINUTES=5
